/* globals start */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
}

:root {
    --white-1: #f6f9fe;
    --white-2: #cbd1de;
    --gray: #c1c1c1;
    --light-blue: #42b0d1;
    --bg-1: #1c2230;
    --bg-2: #181e2a;
    --bg-3: #0c1524;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--bg-1);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}
/* globals end */

/* scrollbar styling start */
*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--bg-3);
    width: 4px;
}

*::-webkit-scrollbar-track {
    background-color: var(--white-1);
}
/* scrollbar styling end */

/* navbar start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

nav .logo img {
    width: 140px;
}

nav ul.links {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul.links li {
    margin-right: 20px;
}

nav ul.links li a {
    text-decoration: none;
    color: var(--gray);
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 17px;
}

nav ul.links li:hover a {
    color: var(--white-1);
}

nav ul.links li a::after {
    content: "";
    position: absolute;
    display: block;
    top: 120%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--white-1);
    transition: all 0.2s ease-in-out;
}

nav ul.links li:hover a::after {
    width: 100%;
}
/* navbar end */

/* hero section start */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 200px;
    background-image: url(../images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
}

.hero *:not(:last-child) {
    margin-bottom: 40px;
}

.hero img {
    width: 35%;
}

.hero h1 {
    color: var(--white-1);
    font-size: 40px;
    width: 50%;
}

.hero p {
    color: var(--white-2);
    font-size: 20px;
    width: 37%;
    font-weight: light;
}

.hero .btn {
    width: 250px;
    height: 55px;
    border-radius: 60px;
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-1);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid var(--light-blue);
}

.hero .btn:hover {
    background-color: var(--bg-2);
    color: var(--light-blue);
}
/* hero section end */

/* features section start */
.features {
    background-color: var(--bg-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 20%;
}

.features .feature {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.features .feature .icon {
    width: 100px;
    margin-bottom: 20px;
}

.features .feature h3 {
    color: var(--white-1);
    font-weight: light;
    font-size: 19px;
    margin-bottom: 15px;
}

.features .feature p {
    color: var(--white-2);
    font-size: 14px;
}
/* features section end */

/* slogan section start */
.slogan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    background-color: var(--bg-2);
}

.slogan > div {
    width: 45%;
}

.slogan .right h1 {
    width: 50%;
    color: var(--white-1);
    font-size: 35px;
    margin-bottom: 20px;
}

.slogan .right p {
    font-size: 17px;
    color: var(--white-2);
    width: 80%;
}

.slogan .right p:first-of-type {
    margin-bottom: 10px;
}

.slogan .right .link {
    font-size: 15px;
    color: var(--light-blue);
    text-decoration: underline;
    display: inline-block;
    margin-top: 20px;
    vertical-align: bottom;
}

.slogan .right .link .arrow img {
    width: 22px;
    vertical-align: bottom;
}
/* slogan section end */

/* testimonials section start */
.testimonials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 120px 100px;
    background-color: var(--bg-2);
    background-image: url(../images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: 120px 80px;
}

.testimonials .feedback {
    padding: 45px 30px;
    width: 30%;
    background-color: #21293c;
}

.testimonials .feedback p {
    color: var(--white-2);
    font-size: 17px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.testimonials .feedback .person {
    display: flex;
    align-items: center;
}

.testimonials .feedback .person img {
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

.testimonials .feedback .person .data span {
    display: block;
    color: var(--white-1);
    font-size: 13px;
}
.testimonials .feedback .person .data span:first-child {
    font-weight: bold;
}

/* testimonials section end */

/* contact section start */
.contact {
    background-color: var(--bg-2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .container {
    width: 65%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c2230;
    padding: 60px 5%;
    transform: translateY(150px);
    border-radius: 15px;
    box-shadow: 5px 5px 10px #080d16;
}

.contact .container h3 {
    font-size: 35px;
    color: var(--white-1);
    margin-bottom: 20px;
}

.contact .container p {
    font-size: 17px;
    color: var(--white-2);
    margin-bottom: 50px;
    padding: 0 20px;
}

.contact .container form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.contact .container form input {
    width: 65%;
    height: 50px;
    border-radius: 100px;
    border: none;
    outline: none;
    padding: 0 30px;
    font-size: 15px;
}

.contact .container form .btn {
    width: 250px;
    height: 50px;
    border-radius: 60px;
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-1);
    font-size: 17px;
    cursor: pointer;
    border: 3px solid var(--light-blue);
}
/* contact section end */

/* footer section start */
footer {
    background-color: var(--bg-3);
    padding: 250px 70px 100px;
}

footer .sep {
    height: 2px;
    border-radius: 10px;
    margin: 30px auto;
    width: 60%;
    background-color: var(--bg-1);
}

footer .columns {
    display: flex;
    justify-content: space-between;
    color: var(--gray);
}

footer .columns .column span {
    display: block;
    margin-bottom: 15px;
}

footer .columns .column img {
    margin-right: 15px;
}

footer .columns .column span a {
    color: var(--gray);
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

footer .columns .column span a:hover {
    text-decoration: underline;
}

footer .columns .description {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

footer .columns .social {
    display: flex;
    width: 15%;
}

footer .columns .social img {
    width: 35px;
    height: 35px;
    border: 1px solid var(--gray);
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
}
/* footer section end */

/* credits */
.credits {
    padding: 20px;
    background-color: var(--white-1);
}

.credits .attribution {
    font-size: 16px;
    text-align: center;
}
.credits .attribution a {
    font-weight: bold;
    color: var(--light-blue);
}
